
/*
	brandonia.xyz
	main style sheet

*/

:root {
	--bg: #1E1D1F;
	--bg2: #252526;
	--fg: #ffffff;
	--fg2: #71706e;
	--shadow: #000000;
	--color1: #69359c;
	--color2: #359c9c;
	--color3: #9c3535;
	--color4: #689c35;
}

/* Display HTML5 structural elements as blocks */
article, aside, figure, figcaption, footer, hgroup, header, section, nav, form {
	display: block;
}

/* Set the default page element styles */
body{
	margin: 0px auto;
	width: 960px;
	color: var(--fg);
	background-color: var(--bg);
}

body * {
	font-family:  sans-serif;
	font-size: 100%;
	font-weight: inherit;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	vertical-align: baseline;
}

/* Navigation Links */
nav ul {
	padding-left: 0px;
	width: 100%;
	list-style: none;
	margin-top: 0px;
	float: both;
}

nav li {
	float: left;
	width: 32.1%;
	text-align: center;
	margin: 10px 5px 10px 5px;
}
nav li a:link {
	border-radius: 10px;
	font-weight: bold;
	display: block;
	color: rgb(248, 248, 242);
	text-decoration: none;
	background-color: var(--bg);
	box-shadow: 2px 2px 5px var(--shadow);
	padding-top: 2px;
}

nav li a:visited {
	color: white;
}

nav li a:hover {
	color: var(--fg);
	background-color: var(--color1);
	border-radius: 10px;
}

/* line breaks */

hr {
	color: var(--fg2);
	margin-bottom: 10px;
	float: left;
	width: 99.7%;
	size: 12px;
}

hr.b {
	color: var(--color1);
	margin-bottom: 10px;
	float: left;
	width: 99.7%;
	size: 12px;
}

/* a */
a:link {
	font-weight: bold;
	text-decoration: underline;
	color: var(--fg);
}

a:visited {
	font-weight: bold;
	text-decoration: underline;
	color: var(--fg);
}

a:hover {
	text-decoration: underline;
	color: var(--color2);
}

/* div styles */
div {
	background-color: var(--bg2);
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--bg2) var(--bg2) var(--color1) var(--bg2);
}

.mainContent {
	padding-bottom: 10px;
	box-shadow: 3px 3px 3px var(--shadow);
}

.mainContent div {
	background-color: var(--bg2);
}

div .item {
	background-color: var(--bg);
	border-color: var(--fg2);
	border-color: 3px;
	border-style: solid;
}

div .chroma {
	border-bottom: 0px;
}

div .container {
	border-style: solid;
	border-width: 0px;
}

/* headings and p tags */
h1 {
	width: 98%;
	font-size: 36px;
	font-weight: normal;
	text-decoration: underline;
	letter-spacing: 2px;
	color: var(--color1);
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: left;
	clear: both;
	/*	border-bottom: 2px solid var(--color1); */
}

h2 {
	font-size: 22px;
	font-weight: normal;
	text-decoration: underline;
	width: 98%;
	letter-spacing: 2px;
	margin: 10px;
	margin-left: 12px;
	color: var(--color2);
	text-align: left;
	clear: both;
    display: inline-block;
	/* border-bottom: 2px solid var(--color2); */
}

h3 {
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	width: 98%;
	letter-spacing: 3px;
	margin-left: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: var(--color4);
	margin-top: 15px;
	text-align: left;
	clear: both;
	/* border-bottom: 2px solid var(--color4); */
}

h4 {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--fg2);
	margin-top: 15px;
	text-align: center;
	clear: both;
}

h5 {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--color3);
	margin-top: 15px;
	text-align: center;
	clear: both;
}

/* markdown stuff */
strong {
	color: var(--fg2);
	font-weight: bold;
}

.highlight {
	border: 3px solid;
	border-color: var(--color1);
	border-radius: 10px;
	box-shadow: 2px 2px 5px var(--shadow);
	padding: 10px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}


code {
	color: var(--color2);
	background-color: var(--shadow);
	font-weight: bold;
	padding: 5px;
}

/* printed text */
p {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px
}

.author, .author:visited {
	padding: 0px;
	margin-top: 5px;
	font-size: 10px;
	color: var(--fg2);
}

.tldr {
	float: both;
	padding: 0px;
	font-size: 12px;
	margin-top: 5px;
}

.dateTime {
	color: var(--fg2);
	font-weight: bolder;
	padding: 0px;
	font-size: 8pt;
	margin-top: 5px;
}

.postDetails {
	width: 99%;
	padding: 0px;
	font-size: 10px;
	text-align: right;
}

.postTLDR {
	padding: 0px;
	margin-left: 5px;
}

/* lists */

ul {
	padding-left: 30px;
}

/* container for css grid */
.container {
	margin-left:12.5px;
	width: 97%;
	display: grid;
	grid-template-columns: repeat( 3, 1fr);
	grid-template-rows: 140px;
	grid-auto-rows: 140px;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
}

.latest-container {
	margin-left: 0.8%;
	width: 98%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 130px;
	grid-auto-rows: 130px;
	grid-gap: 10px;
	border-width: 0px;
}

.item {
	font-size: 12px;
	background-color: var(--bg);
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid var(--fg2);
	box-shadow: 3px 3px 3px var(--shadow);
}

.item a {
	font-size:16px;
	font-weight: bold;
	color: #fff;
}

.item a:hover {
	font-size:16px;
	font-weight: bold;
	text-decoration: underline;
	color: var(--color1);
}

/* images */
.listPostImg {
	margin-top: 2px;
	margin-bottom: 10px;
	height: 75%;
	width: 100%;
}

.banner {
	margin-bottom: 0px;
	height: 540px;
	width: 100%;
	transition: 0.5s;
	border-radius: 10px;
	box-shadow: 3px 3px 3px var(--shadow);
}

.banner:hover {
	opacity: 0.5;
}

.highlights-index {
	margin-left: 25%;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	height: 270px;
	width: 480px;
	border: 3px solid;
  border-color: var(--color1);
	border-radius: 10px;
	box-shadow: 4px 4px 5px var(--shadow);
	transition: 0.5s;
}

.highlights-index:hover {
	opacity: 0.5;
}

/* posts */
.inPost {
  margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 20px;
 	margin-top: 20px;
  width: 460px;
 	height: 270px;
  border: 3px solid;
  border-color: var(--color1);
	border-radius: 10px;
  padding: 5px;
  box-shadow: 4px 4px 5px var(--shadow);
}

.inPost img:hover {
	opacity: 0.5;
}

.inPost img {
	width: 460px;
 	height: 270px;
 	transition: 0.5s;
}

/* about me IMG */
.aboutmeIMG {
	margin-top: 40px;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 400px;
	height: 445px;
	border: 3px solid;
	border-color: var(--color1);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 4px 4px 5px var(--shadow);
	clear: both;
  }
  
  .aboutmeIMG img:hover {
	  opacity: 0.5;
  }
  
  .aboutmeIMG img {
	  width: 400px;
	  height: 445px;
	  transition: 0.5s;
  }

/* tags */
.tags {
	margin-top: 5px;
}

ul.tags {
	padding-left: 0px;
}

.tags li {
	display: inline;
}

.tags a {
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	vertical-align: super;
}

.tags a:hover {
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
	color: var(--color1);
}

.tag-icon {
	filter: invert(52%) sepia(61%) saturate(464%) hue-rotate(48deg) brightness(92%) contrast(84%);
	margin-top: 5px;
	margin-left: 5px;
	height: 20px;
	width: 20px;
}

.inPost-tag {
	margin-left: 5px;
}

/* tables */
table {
	width: 80%;
	margin: 0px auto 10px auto;
	border: 3px solid;
  border-color: var(--color1);
	border-radius: 10px;
	border-spacing: 0px;
  padding: 10px;
	table-layout: fixed;
	box-shadow: 4px 4px 5px var(--shadow);
}

th {	
	background-color: var(--bg);
	text-align:center;
	padding: 5px;
}

td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid var(--bg);
}

/* footer */
footer {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 41%;
}

.social-list {
	list-style: none;
}

.social-item {
	display: inline;
}

.social-icon {
	filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(340deg) brightness(103%) contrast(103%);
	height: 32px;
	width: 32px;
}

.social-icon:hover {
	filter: invert(23%) sepia(20%) saturate(4713%) hue-rotate(247deg) brightness(99%) contrast(94%);
}

/* mobile viewports */
@media screen and (max-width : 960px) {
	
	body{
		width: 600px;
	}

	footer {
		margin-left: 38%;
	}

	/* Navigation Links */
	nav li {
		width: 31.6%;
	}

	/* css grid */
  .container {
		grid-template-rows: 165px;
		grid-auto-rows: 165px;
	}

	.container, .latest-container {
		margin-left: 8px;
		width: 97%;
	}

	/*images */
	.banner {
		height: 400px;
	}

	.highlights-index {
		height: 200px;
		width: 300px;
		margin-left: 25%;
	}
}

@media screen and (max-width : 575px) {
	body{
		width: 320px;
	}

	footer {
		margin-left: 27%;
	}

	/* Navigation Links */
	nav li {
		width: 30%;
	}

	/* line break */
	hr {
		width: 99.5%;
	}

	/* css grid */
	.container, .latest-container {
		margin-left: 3px;
	}

	.highlights-index {
		height: 100px;
		width: 160px;
		margin-left: 25%;
	}

	/* images */
	.banner {
		height: 200px;
	}

	.inPost1 {
		width: 250px;
		height: 200px;
	}

	.inPost1 img {
		width: 250px;
		height: 200px;
	}

}
