<!DOCTYPE html>
<html>
		
	{{ partial "head.html" . }}

	<body>
		
		<img id="bannerImg" src="/img/indexBanner.jpg" alt="" class="banner">

		{{ partial "nav.html" . }}

		<div class="mainContent">

			<img src="/img/index_1.jpg" class="highlights-index">

			<h1>Latest</h1>
			
			<div class="latest-container">

				{{ range first 6 (where .Site.RegularPages.ByLastmod.Reverse "Section" "posts" ) }}
					<div class="item">
					    <h6><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
					    <p class="dateTime">{{ .Date.Format "Mon, Jan. 2, 2006" }} ( Modified: {{  .Page.Lastmod.Format "Mon, Jan. 2, 2006"  }} )</p>
					    <p class="tldr">{{ .Params.tldr }}</p>
					    {{ partial "tags.html" .}}
					</div>
				{{ end }}

			</div>

		</div>

	</body>

	{{ partial "footer.html" . }}


</html>