{{ define "content"}}

<div class="mainContent">
	<div class="container">

		{{ range .Pages.ByLastmod.Reverse }}
			<div class="item">
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				<p class="tldr">{{ .Params.tldr }}</p>
				<p class="dateTime">{{ .Date.Format "Mon, Jan. 2, 2006" }} ( Modified: {{  .Page.Lastmod.Format "Mon, Jan. 2, 2006"  }} )</p>
				{{ partial "tags.html" .}}
			</div>			
		{{ end }}
		
	</div>
</div>
{{ end }}