{{ define "content" }}
		
	<div class="mainContent">

		<p class="postDetails">By <a href="/about" class="author">{{ .Params.author }}</a> - {{ .Date.Format "Mon, Jan. 2, 2006" }} ( Modified: {{  .Page.Lastmod.Format "Mon, Jan. 2, 2006"  }} )</p>
		
		{{ .Content }}

		{{ partial "tags.html" .}}

	</div>

{{ end }}
